
.contents{

}

.contents_title{
    /* background-color: aqua;  */
    text-align: center;
    padding: 30px;
}

.contents_title-back{
    width: 200px;
    margin-top: 10px;
    background-color: blue;

}

.table{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
}

.table_contents{
    /* background-color: beige; */
    text-align: center;
    width: 90vw;
    margin: 0 5vw 20px 5vw;
}

.table_contents-row{
    border-top:1px gray solid;
    height: 50px;
}


.result_pagenumber{
    display: flex;
    justify-content: center;
    
}

.result_pagenumber-paginate{
    /* display: flex;
    justify-content: flex-end; */
    /* @apply flex justify-end; */
    margin-bottom: 20px;
    
}




a:link,a:visited,a:hover,a:active {
    color: black;
}